<div class="legend">
  <div class="legend-item">
    <h4>Máscara</h4>
    <div class="legend-images">
      <div class="legend-img">
        <img src="assets/images/png/required-mask.png" alt="">
        <span>Obrigatório</span>
      </div>
      <div class="legend-img">
        <img src="assets/images/png/recommended-mask.png" alt="">
        <span>Recomendado</span>
      </div>
    </div>
  </div>

  <div class="legend-item">
    <h4>Toalha</h4>
    <div class="legend-images">
      <div class="legend-img">
        <img src="assets/images/png/required-towel.png" alt="">
        <span>Obrigatório</span>
      </div>
      <div class="legend-img">
        <img src="assets/images/png/recommended-towel.png" alt="">
        <span>Recomendado</span>
      </div>
    </div>
  </div>

  <div class="legend-item">
    <h4>Bebedouro</h4>
    <div class="legend-images">
      <div class="legend-img">
        <img src="assets/images/png/partial-fountain.png" alt="">
        <span>Parcial</span>
      </div>
      <div class="legend-img">
        <img src="assets/images/png/not_allowed-fountain.png" alt="">
        <span>Proibido</span>
      </div>
    </div>
  </div>

  <div class="legend-item">
    <h4>Vestiário</h4>
    <div class="legend-images">
      <div class="legend-img">
        <img src="assets/images/png/allowed-lockerroom.png" alt="">
        <span>Liberado</span>
      </div>
      <div class="legend-img">
        <img src="assets/images/png/partial-lockerroom.png" alt="">
        <span>Parcial</span>
      </div>
      <div class="legend-img">
        <img src="assets/images/png/closed-lockerroom.png" alt="">
        <span>Fechado</span>
      </div>
        </div>
    </div>
</div>