ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;

  max-width: 90%;
  margin-inline: auto;

  li {
    list-style: none;
  }

  @media (min-width: 768px) {
    ul {
      max-width: 80%;
    }
  }
}